@import 'antd/es/affix/style/index.less';
@import 'antd/es/auto-complete/style/index.less';
@import 'antd/es/breadcrumb/style/index.less';
@import 'antd/es/carousel/style/index.less';
@import 'antd/es/collapse/style/index.less';
@import 'antd/es/descriptions/style/index.less';
@import 'antd/es/empty/style/index.less';
@import 'antd/es/image/style/index.less';
@import 'antd/es/input-number/style/index.less';
@import 'antd/es/locale-provider/style/index.less';
@import 'antd/es/modal/style/index.less';
@import 'antd/es/popconfirm/style/index.less';
@import 'antd/es/rate/style/index.less';
@import 'antd/es/skeleton/style/index.less';
@import 'antd/es/statistic/style/index.less';
@import 'antd/es/table/style/index.less';
@import 'antd/es/timeline/style/index.less';
@import 'antd/es/tree-select/style/index.less';
@import 'antd/es/avatar/style/index.less';
@import 'antd/es/button/style/index.less';
@import 'antd/es/cascader/style/index.less';
@import 'antd/es/comment/style/index.less';
@import 'antd/es/divider/style/index.less';
@import 'antd/es/form/style/index.less';
@import 'antd/es/layout/style/index.less';
@import 'antd/es/mentions/style/index.less';
@import 'antd/es/notification/style/index.less';
@import 'antd/es/popover/style/index.less';
@import 'antd/es/result/style/index.less';
@import 'antd/es/slider/style/index.less';
@import 'antd/es/steps/style/index.less';
@import 'antd/es/tabs/style/index.less';
@import 'antd/es/tooltip/style/index.less';
@import 'antd/es/typography/style/index.less';
@import 'antd/es/alert/style/index.less';
@import 'antd/es/back-top/style/index.less';
@import 'antd/es/calendar/style/index.less';
@import 'antd/es/checkbox/style/index.less';
@import 'antd/es/config-provider/style/index.less';
@import 'antd/es/drawer/style/index.less';
@import 'antd/es/grid/style/index.less';
@import 'antd/es/list/style/index.less';
@import 'antd/es/menu/style/index.less';
@import 'antd/es/page-header/style/index.less';
@import 'antd/es/progress/style/index.less';
@import 'antd/es/space/style/index.less';
@import 'antd/es/tag/style/index.less';
@import 'antd/es/transfer/style/index.less';
@import 'antd/es/upload/style/index.less';
@import 'antd/es/anchor/style/index.less';
@import 'antd/es/badge/style/index.less';
@import 'antd/es/card/style/index.less';
@import 'antd/es/date-picker/style/index.less';
@import 'antd/es/dropdown/style/index.less';
@import 'antd/es/icon/style/index.less';
@import 'antd/es/input/style/index.less';
@import 'antd/es/message/style/index.less';
@import 'antd/es/pagination/style/index.less';
@import 'antd/es/radio/style/index.less';
@import 'antd/es/select/style/index.less';
@import 'antd/es/spin/style/index.less';
@import 'antd/es/switch/style/index.less';
@import 'antd/es/time-picker/style/index.less';
@import 'antd/es/tree/style/index.less';
@import 'antd/es/style/core/iconfont.less';
@import 'antd/es/style/core/motion.less';

@primary-color: #002550; // primary color for all components
@secondary-color: #ffd300;

@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color

@font-size-base: 16px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.85); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.55); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color

@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers
