@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: $text-color;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
