@import 'variables';

.title {
  color: #0070f3;
  text-decoration: none;
  line-height: 1.15;
  font-size: 4rem;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.description {
  line-height: 1.5;
  color: $primary-color;
  font-size: 1.5rem;
}

.content {
  color: green;
}
